# QUIZ 1 Perangkat Lunak Matematika 
**python version**
by: sumihar christian

In [ ]:
def prime(x):
    if x >= 2:
        for y in range(2,x):
            if not ( x % y ):
                return False
    else:
        return False
    return True

In [14]:
numbers = [2,5,7,10,13]
for number in numbers: 
    print(prime(number))

True
True
True
False
True

In [8]:
def gcd(x, y):
    while y != 0:
        (x, y) = (y, x % y)
    return x

In [17]:
for number in numbers: 
    print(gcd(2,number))

2
1
1
2
1

In [18]:
gcd(12,8)

4

In [25]:
import math
def generate_maclaurin(value, n): 
    first = 0.0
    for i in range(n): 
        next = float(value**i)/math.factorial(i)
        first +=next
    return first

In [27]:
generate_maclaurin(7,100)

1096.6331584284578

In [36]:
hasil = []
for i in range(1,9): 
    print(i)
    print(generate_maclaurin(i, 100))
    hasil.append(generate_maclaurin(i, 100))

1
2.7182818284590455
2
7.389056098930649
3
20.08553692318766
4
54.598150033144265
5
148.41315910257657
6
403.4287934927351
7
1096.6331584284578
8
2980.957987041728

In [37]:
import pandas as pd 
df = pd.DataFrame(hasil, index=[x for x in range(1,9)])
df.head(8)

             0
1     2.718282
2     7.389056
3    20.085537
4    54.598150
5   148.413159
6   403.428793
7  1096.633158
8  2980.957987